:root {

  font-family:'Courier New', Courier, monospace;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ebe9c3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overflow: hidden;

  
}

* {
  touch-action: manipulation;
  overflow: hidden;
  user-select: none; /* Standard syntax */
  outline: 0;
}

body {
  display: flex;
  width: 100dvw;
  min-height: 100dvh;
  justify-content: center;
  align-items:center;
  margin: 0;

  background-image: linear-gradient(
    45deg,
    #E1A36F 25%,
    transparent 25%,
    transparent 75%,
    #DEC484 75%,
    #DEC484
  );

  background-image: url('../bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#resetButton {
  align-self: flex-end;
  margin-bottom: 10dvh;
  margin-right: 0;
  background-color: #fae9c3;
  

  color: black;

  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: box-shadow 0.25s;
}
#resetButton:active {
  box-shadow: unset;
}

#app {
  width: 80dvw;
  max-width: 60dvh;
  height: 80dvh;
  max-height: 106dvw;
  padding: 0rem;
  margin-top: 0px;
  text-align: center;


  
}
canvas {
  width: 100%;
  height: 100%;

  touch-action: manipulation;
}

#gameCanvas {

  background-color: #fae9c3;

  border: 1px solid rgba(50,50,93,0.25);
  border-radius: 10px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

